@model List<Item>;

@{
    ViewData["Title"] = "M Sh Pizza";
    
}

<div class="row">
    <div class="col-md-offset-1 ">

        <table class="table">
            <thead>
                <tr>
                    <th>Pizza Pic</th>
                    <th>Name</th>
                    <th>Details</th>
                    <th>Price</th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var Item in Model)
                {
                <tr>
                    <td class="align-middle"><img class="img-rounded" src="~/Images/Pizzas/@(Item.ItemPicURL).png" alt="@Item.ItemName" style="max-width:150px" /></td>
                    <td>@Html.DisplayFor(modelItem => Item.ItemName)</td>
                    <td>@Html.DisplayFor(modelItem => Item.ItemBio)</td>
                    <td>@Html.DisplayFor(modelItem => Item.Price)<p>SR</p></td>

                    <td>
                        <a class="btn alert-success" asp-action="Checkout" asp-route-id="@Item.ItemID">Order +</a>
                        <!--<a class="btn alert-warning" asp-action="Edit" asp-route-id="@Item.ItemID">Edit</a>-->
                    </td>
                </tr>

                }
                
            </tbody>
        </table>
    </div>
</div>